.bg-top-gradient-border {
	background-image: linear-gradient(
		to right,
		#3485ff,
		#6fffe5,
		#51f9ff,
		#d762f7
	);
}

#chat-send-btn:disabled {
	cursor: pointer;
}

.chat-title {
	background-image: linear-gradient(to right, #d79aff, #6fffe5, #51f9ff);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}
