.sidebar {
	position: relative;
	width: 250px;
	transition: transform 0.3s ease;
	background-color: #f4f4f4;
}

.sidebar.closed {
	transform: translateX(-250px);
}

.toggle-btn {
	position: absolute;
	top: 10px;
	right: calc(-16px - 10px - 10px);
	width: calc(16px + 10px);
	height: calc(16px + 10px);
	padding: 5px;
	color: black;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.sidebar-content {
	padding: 20px;
}
