html,
body,
#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.bg-top-gradient-border {
	background-image: linear-gradient(
		to right,
		#3485ff,
		#6fffe5,
		#51f9ff,
		#d762f7
	);
}
